<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Lileen Irv, veebiprogrammeerimine</title>
</head>
<body>
  <img src="/images/colorful-welcome-design-template-free-vector.jpg" alt="welcome bänner">
  <h1>Lileen Irv, veebiprogrammeerimine</h1>
  <p>See leht on tehtud <a href="https://www.tlu.ee/lt">Tallinna Ülikooli</a> veebiprogrammeerimise kursusel ja ei sisalda mõistlikku sisu.</p>
  <hr>
  
  <h2>Tere tulemast, <%= name %>!</h2>
  <li><a href="/regvisit">Registreeri uus külastaja</a></li>
  <ul>
    <li><a href="/">Avalehele</a></li>
	<li><a href="/visitlog">Kes veel on külastanud</a></li>
  </ul>
  </form>	
</body>
</html>